@if(campaign()) {
    <div class="mx-2 row gap-2">
        <button matButton="outlined" color="warn" class="col-2">Delete Campaign</button>
    </div>

    <div class="m-2 row g-2">
        <div class="col-6">
            <mat-card appearance="outlined">
                <mat-card-header class="py-2 px-3">
                    <mat-card-title>
                        Description
                    </mat-card-title>
                </mat-card-header>
                <mat-divider class="w-100"/>
                <mat-card-content class="py-2 px-3">
                    <p>{{campaign()!.description}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6">
            @if(campaign()!.pdfPath) {
                <mat-card appearance="outlined" class="mb-2">
                    <mat-card-header class="py-2 px-3">
                        <mat-card-title>
                            Book file path
                        </mat-card-title>
                    </mat-card-header>
                    <mat-divider class="w-100"/>
                    <mat-card-content class="py-2 px-3">
                        <p>{{campaign()!.pdfPath}}</p>
                    </mat-card-content>
                </mat-card>
            }
            @if(campaign()!.vectorCollectionName) {
                <mat-card appearance="outlined" class="mb-2">
                    <mat-card-header class="py-2 px-3">
                        <mat-card-title>
                            Vector collection
                        </mat-card-title>
                    </mat-card-header>
                    <mat-divider class="w-100"/>
                    <mat-card-content class="py-2 px-3">
                        <p>{{campaign()!.vectorCollectionName}}</p>
                    </mat-card-content>
                </mat-card>
            }
        </div>
    </div>
}
