services:
  rpweave.server.api:
    image: rpweave.server.api
    user: root
    build:
      context: .
      dockerfile: RpWeave.Server.Api/Dockerfile
    environment:
      - Authentication__TokenSecret=thisisthesecretforgeneratingakey(mustbeatleast32bitlong)
      - Authentication__RefreshTokenSecret=thisisthesecretforgeneratingakey(mustbeatleast32bitlong)
      - Authentication__Issuer=http://localhost:8080
      - Authentication__Audience=rp-weave-api
    volumes:
      - ./testResults:/home/test
    ports:
      - "5000:8080"

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - 27017:27017
    volumes:
      - mongodbdata:/data/db

  mongo-express:
    image: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
    depends_on:
      - mongo

  ollama:
    image: ollama/ollama
    container_name: ollama
    restart: always
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
    environment:
      - OLLAMA_DEBUG=1
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all # alternatively, use `count: all` for all GPUs
              capabilities: [gpu]

volumes:
  mongodbdata:
  ollama: