services:
  rpweave.server.api:
    image: rpweave.server.api
    build:
      context: .
      dockerfile: RpWeave.Server.Api/Dockerfile
    ports:
      - "5000:8080"

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - 27017:27017
    volumes:
      - mongodbdata:/data/db

  mongo-express:
    image: mongo-express
    ports:
      - "8081:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
    depends_on:
      - mongo

volumes:
  mongodbdata: