<div class="d-flex flex-wrap">
    @for(campaign of campaigns; track campaign) {
        <div class="col-12 col-lg-4 col-xxl-3">
            <mat-card appearance="outlined" class="mb-2 mx-2">
                <mat-card-header class="mb-2">
                    <mat-card-title>{{campaign.name}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>{{campaign.description}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-mini-fab-button class="p-0">
                        <mat-icon fontIcon="delete" color="warn" class=""></mat-icon>
                    </button>
                    <button matButton>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    }

</div>
