@if(showNavbar) {
    <mat-toolbar color="primary">
        <div class="d-flex w-100 justify-content-between">
            <div class="d-flex my-auto">
                <span>RP Weave</span>
                <div class="mx-4"></div>
                <button 
                    mat-button 
                    style="font-size: medium; border-radius: 12px;"
                    class="p-3"
                    (click)="navigateToCampaigns()">
                        Campaigns
                </button>
            </div>
            
            <div class="d-flex my-auto">
                @if(isAdmin()) {
                    <button mat-icon-button (click)="navigateToSettings()">
                        <mat-icon>settings</mat-icon>
                    </button>
                }
                <button mat-button class="font-monospace my-auto" [matMenuTriggerFor]="usermenu">
                    <mat-icon>person</mat-icon>
                    {{username}}
                </button>
                <mat-menu #usermenu="matMenu">
                    <button mat-menu-item (click)="navigateToChangePassword()">Change password</button>
                    <button mat-menu-item (click)="logOut()">Log out</button>
                </mat-menu>
            </div>
        </div>
    </mat-toolbar>
    
    <div style="height: calc(100% - 64px)">
        <div class="h-100">
            <router-outlet></router-outlet>
        </div>
    </div>
}
@else {
    <router-outlet></router-outlet>
}