<div class="d-flex vh-100 justify-content-center align-items-center">
    <div class="col-7">
        <span class="display-3">Welcome to RP Weave!</span>
        <p style="font-size: 20px;">The open-source worldbuilding companion that your party needs</p>
    </div>
    <mat-divider vertical="true" class="h-25 mx-5" style="border-width: 2px; border-color: white;"></mat-divider>
    <div class="col-3">
        <button mat-flat-button color="primary" class="w-100 mb-3">Sign up</button>
        <button mat-flat-button class="w-100" (click)="navigateToLogin()">Log in</button>
    </div>
</div>
