<div class="d-flex vh-100 justify-content-center align-items-center p-2 p-lg-2">
    <mat-card appearance="outlined">
        <mat-card-content>
            <form>
                <mat-form-field class="w-100" color="accent">
                    <mat-label>Username</mat-label>
                    <input matInput [value]="username"/>
                </mat-form-field>
                <mat-form-field class="w-100" color="accent">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [value]="password"/>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions class="mb-2">
            <button mat-flat-button color="primary" class="w-100 mx-2">Log in</button>
            <button mat-flat-button class="w-100 mx-2" (click)="cancelLogin()">Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>