<div class="p-3">
    <h3 class="mb-3">Add Campaign</h3>
    <mat-form-field class="w-100" color="accent">
        <mat-label>Name</mat-label>
        <input matInput required [(ngModel)]="request.name" name="name"/>
    </mat-form-field>
    <mat-form-field class="w-100" color="accent">
        <mat-label>Description</mat-label>
        <textarea matInput required [(ngModel)]="request.description" name="description"></textarea>
    </mat-form-field>
    <input type="file" class="w-100" accept="application/pdf" (change)="onFileSelected($event)" />
    <mat-checkbox (change)="onCreateEmbeddingsChanged($event.checked)" name="createEmbeddings" class="mb-3">Create Embeddings</mat-checkbox>

    @if(showOptionalFields) {
        <div class="d-flex">
            <mat-form-field class="col-2" color="accent">
                <mat-label>Chapter font size</mat-label>
                <input matInput [(ngModel)]="request.chapterFontSize" 
                    name="chapterFontSize"
                    type="number"/>
            </mat-form-field>
            <div class="mx-1"></div>
            <mat-form-field class="col-2" color="accent">
                <mat-label>Sub-chapter font size</mat-label>
                <input matInput [(ngModel)]="request.subChapterFontSize" 
                    name="subChapterFontSize"
                    type="number"/>
            </mat-form-field>
            <div class="mx-1"></div>
            <mat-form-field class="col-2" color="accent">
                <mat-label>Header font size</mat-label>
                <input matInput [(ngModel)]="request.headerFontSize" 
                    name="headerFontSize"
                    type="number"/>
            </mat-form-field>
        </div>
        <mat-checkbox [(ngModel)]="request.ignoreFooter" name="ignoreFooter">Ignore footer</mat-checkbox>
    }
    <div class="mt-4 d-flex">
        <button mat-flat-button color="primary" class="col-3" (click)="submit()">Create</button>
        <div class="mx-1"></div>
        <button mat-flat-button class="col-3" (click)="cancel()">Cancel</button>
    </div>
</div>