@if(campaign) {
    <h3 class="pt-3 mx-3">Campaign: {{campaign.name}}</h3>
    
    <mat-tab-group class="">
        <mat-tab label="Chat">
            <div class="d-flex justify-content-center pt-4 mx-auto">
                <div class="scroll-wrapper">
                    <div #chatContainer class="chat-container w-50">
                        @for(chatMessage of chatMessages; track chatMessage) {
                            @if(chatMessage.type == 'user') {
                                <mat-card appearance="outlined" class="align-self-end bg-secondary mb-4">
                                    <mat-card-content class="py-2">{{chatMessage.content}}</mat-card-content>
                                </mat-card>
                            }
                            @else {
                                <markdown class="mb-4" [data]="chatMessage.content"></markdown>
                            }
                        }
                    </div>
                </div>
            </div>
            
            <div class="position-fixed bottom-0 w-100 d-flex justify-content-center">
                <div class="w-50">
                    @if(modelThinking) {
                        <mat-progress-bar mode="indeterminate"/>
                    }
                    <mat-form-field class="w-100">
                        <textarea matInput 
                            name="message" 
                            [(ngModel)]="message" 
                            [disabled]="modelThinking" 
                            cdkTextareaAutosize
                            #autosize="cdkTextareaAutosize"
                            (keyup.enter)="sendMessage();"
                            placeholder="Ask anything...">
                        </textarea>
                        <button matIconButton 
                            matSuffix
                            (click)="sendMessage()"
                            class="align-self-start" 
                            [disabled]="modelThinking || !message">
                            <mat-icon color="primary">send</mat-icon>
                        </button>
                    </mat-form-field>
                    
                </div>
            </div>
            
        </mat-tab>
        <mat-tab label="Info">
            <mat-list>
                <mat-list-item>{{campaign.description}}</mat-list-item>
                <mat-list-item>Has uploaded PDF: {{campaign.pdfPath ? 'yes' : 'no'}}</mat-list-item>
                @if(campaign.pdfPath) {
                    <mat-list-item>PDF path: {{campaign.pdfPath}}</mat-list-item>
                }
                <mat-list-item>Has mapped vectors: {{campaign.vectorCollectionName ? 'yes' : 'no'}}</mat-list-item>
                @if(campaign.vectorCollectionName) {
                    <mat-list-item>Vector collection name: {{campaign.vectorCollectionName}}</mat-list-item>
                }
            </mat-list>
        </mat-tab>
    </mat-tab-group>
    
}
