.chat-container {
  display: flex;
  flex-direction: column;
}

.scroll-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  height: calc(100vh - 300px); // adjust for bottom input
  overflow-y: auto; // scrollbar is here
  padding-right: 10px; // optional, spacing for scrollbar
}

.scroll-wrapper::-webkit-scrollbar {
  width: 8px;
}

.scroll-wrapper::-webkit-scrollbar-track {
  background: #f0f0f000;
  border-radius: 4px;
}

.scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 4px;
}

.scroll-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}